# Node.js dependencies
node_modules/

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Vite / build output
dist/
.vite/

# Environment files
.env
.env.*.local

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
